<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="products:importProducts" type="BasicCompany.Foundation.Products.Ordercloud.Customer.Commands.ImportProductsCommand, BasicCompany.Foundation.Products.Ordercloud.Customer" />	
		</commands>
		<services>
			<configurator type="BasicCompany.Foundation.Products.Ordercloud.Customer.ServicesConfigurator, BasicCompany.Foundation.Products.Ordercloud.Customer" />
		</services>
	</sitecore>
</configuration>